.frame {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .group-wrapper {
  overflow-x: hidden;
  width: 1920px;
  height: 1080px;
}

.frame .group {
  width: 1922px;
  height: 1080px;
}

.frame .overlap-group {
  position: relative;
  height: 1080px;
  background-image: url(./img/rectangle-1.svg);
  width: 1920px;
  background-size: 100% 100%;
}

.frame .overlap {
  position: absolute;
  height: 95px;
  top: 0;
  left: 0;
  background-image: url(./img/rectangle-2.svg);
  width: 1920px;
  background-size: 100% 100%;
}

.frame .free-icon-hospital {
  position: absolute;
  width: 85px;
  height: 85px;
  top: 5px;
  left: 10px;
  object-fit: cover;
}

.frame .logo {
  position: absolute;
  width: 612px;
  height: 612px;
  top: 190px;
  left: 654px;
  object-fit: cover;
}

.frame .text-wrapper {
  position: absolute;
  width: 868px;
  top: 828px;
  left: 561px;
  font-family: "Inter-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

#main{
  padding-bottom: 100px;
  padding-left: 665px;
  padding-right:100px;
  padding-top:10px;
  margin:12px
  }

  .rectangle{
    width: 70%;
    height: 50px;
    border:1px solid;
    margin:auto;
    background: #5f85a6;}
    .text_center{
    color: #ffffff;
    text-align: center;
    font-size: 170%;
    }

    .semenchik{
      color: #ffffff;
      text-align: center;
      font-size: 50%;
      }

      .vik{
        color: #000000;
        }